/* Общие стили */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body { 
    margin: 0;
    padding: 0;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    font-family: 'Arimo', 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',Oxygen-Sans, Ubuntu, Cantarell Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:active,
a:visited,
a:focus {    
    color: #ffffff;
    outline: none;
}

a:hover {
    color: #3cdac9;
}

.button {   
    cursor:pointer;
    border:none;
    background: linear-gradient(65deg, #4d2dff 0, #fa542b 100%);
    color: #ffffff;   
    width: 139px;
    height: 44px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2ch;
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(43, 27, 61, 0.12);
}

button:hover {
    background: linear-gradient(65deg, #4227dd 0, #ca4c2d 100%);
}

/* Убирает голубые обводки */

button:active,
button:focus {
  outline: none; 
}
button::-moz-focus-inner {
  border: 0;
}
ul {
    list-style-type:none;
    margin: 0;
    padding-left: 0;
}
img, video, svg {
    max-width: 100%;
    height: auto;
}
.container {       
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;   
}

p, span, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: rgb(51, 51, 51);
    padding: 80px 0 80px 0;    
}

input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}

textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-input-placeholder      {color: transparent}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position:absolute;

	width: 1px;
	height:1px;
	margin:-1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ==================================================== ХЕДЕР ====================================================== */


/*========================== МЕНЮ====================== */
.header {
     background-color: #0064b4;     
     background: linear-gradient(65deg, #1274ED 0, #4992F0 100%);
     background-size: cover; 
     min-height: 545px; 
     width: 100%;       
     
}

.top-header-wrap {    
    position: fixed;        
    width:100%;
    height: 100%;    
    top:0;
    left:0;           
    height: 75px;
    z-index: 100;        
}

.top-header { 
    position: absolute;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);        
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;      
    min-height: 75px;
    min-width: 320px;
    max-width: 1200px;  
      
}


.top-header ul {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    flex-wrap: wrap;    
}

.top-menu {
    margin-top:0;
    flex-basis: 50%;
    padding-right: 2%;
}

.top-header-bg-blue {            
    background: linear-gradient(65deg, #1274ED 0, #4992F0 100%);    
}

.top-menu a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    letter-spacing: 0.96px;
    padding: 5px 0 5px 0;
}
.top-menu a:hover {
    transition: 0.6s;
    border-bottom: 1px solid #3cdac9;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding-left: 2%;
}

/* ================Основной блок==================== */
.description {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    min-height: 700px;    
}
.description-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    margin-top: 210px;
    margin-bottom: 80px;
    padding: 0 4ch 0 4ch;           
}
.description-logo {
    padding-bottom:50px;
     text-align: center;   
}
.description-name {
    font-family: 'Arimo';
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 4px;        
    text-transform: uppercase;
    padding-bottom: 20px;
}
.description-text {
    font-family: 'Open Sans';    
    font-size: 18px;
    font-weight: 500;    
}
.button-wrap {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 2;
    margin-bottom: 50px;
}

/* ===========================Обо Мне=============================== */

.profile-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 7% 0 7%;      
}

.user-info {
    color: rgb(51, 51, 51);
    font-family: 'Open Sans';    
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    text-align: justify;
    width: 50%;    /* изменить при адаптиве!*/   
}

.user-info ul {
    list-style-type: disc;
}


/* =============================================================ХОББИ ========================================================*/


.mega-row {
    display: flex;
    justify-content: center;
}
.row {
    /* min-height: 600px; */
    width: 1080px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;          
    align-items: center;   
       
}

.hobbie-card {
    width: 270px;
    height: 270px;     
    background-color: #fff;    
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;    
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    cursor:pointer;      
      
}
.card-img-holder {
    position: relative;
    left:0;
    top:0;    
}

.card-overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Arimo';
    font-size: 25px;
    font-weight: 700;    
    display: none;   
    
}

.card-img {    
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 270px;
    width: 120%;
    border:10px solid transparent;
    border-radius: 3px;        
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);      
}

.hobbie-card:hover .card-overlay{
    display: block;            
}
.card-img:hover {    
    box-shadow: 5px 5px 22px 0 rgba(0, 0, 0, 0.14);
    transition: 0.8s;
    background-color:rgba(0, 0, 0, 0.70);
    
}

/* ============================================================Контактная форма============================================================= */

.contacts {
    display: flex;    
    align-items: center;
    min-height: 900px;    
}
.main-form {
    display: flex;
    flex-direction: column;    
    align-items: center;    
    width: 500px;
    margin: 0;
    padding: 0;       
    min-height: 735px;
    background-color: #fff; 
    box-shadow: 0 8px 24px rgba(43, 27, 61, 0.12);
    border-radius: 9px; 
      
}

.main-form h2 {
    padding: 50px 0 50px 0;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;   
    height: 100%;
    width:500px;
    
}
.form-holder input[type="text"],
.form-holder input[type="email"],
.form-holder input[type="tel"],
.form-holder textarea{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-left: 10px;
    border:none;
    outline: none;
    box-sizing: border-box;
    border-radius:4px;
    background-color: #f6f8fa;
    color: #000;
    height:100%;
    width: 100%;    
    
}
.user {
    width: 80%;
    height: 70px;
    margin-bottom: 10%;
}

.message {
    margin-bottom: 5ch;
}

.checkbox-holder {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-size: 13px;
    margin-bottom: 5ch;
    width: 80%;           
}
.checkbox {
    margin-right: 10px;
}







/* ====================================================================ФУТЕР======================================================================= */

.footer {
    background-color: #242e38;
    color: rgb(142, 162, 185);
    min-height: 250px;
}



.footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    padding: 0 4ch 0 4ch;    
}

.footer-contacts-wrap {
    margin-top: 10ch;
    margin-bottom: 4ch;
}

.footer-contacts-wrap ul {
    display: flex;
    align-items: center;
}
.footer-contacts-wrap ul li {    
    margin: 0 2ch 0 2ch;
}
.footer-copyright {
    text-align: center;
}

/*===============================================================    АДАПТИВ   =============================================================== */

@media(max-width: 930px) {

    .user-info {
        width: 100%;
    }
    .profile-wrap {
        flex-direction: column;
    }

    .row {
        justify-content: center;                
    } 
  
}

@media(max-width: 500px) {
    .main-form {
        width: 400px;
    }
    .user {
        width: 70%;
    }
    .checkbox-holder {       
       margin-bottom: 4ch;
    } 
    
    .lastName input, .lastName label {
        width: 80%;
    }
    
    .checkbox-holder p {
       width: 72%;         
       margin-bottom:2ch;
    }
    .checkbox {
        margin-left: 90px;
    }
}

@media(max-width: 410px) {
    .main-form {
        width: 350x;
    }
    .user {
        width: 70%;
    }
    .checkbox-holder {
       min-height: 20px;         
       margin-left:6px;
       width: 85%;       
    }   
    
}

@media(max-width: 375px) {    
    .main-form {
        width: 280px;
       }   
    .user {
        width: 50%;
    }

    .checkbox-holder p {
       width: 72%;         
       margin-bottom:2ch;
    }
    .checkbox {
        margin-left: 90px;
    }
    
}




